
.main{
	min-height: 380px;
	background-color: white;
	overflow: hidden;
}
div#container {
	margin: 10px auto;
}

#center{
	min-height: 380px;
	margin-left: 180px;
	margin-right: 130px;
	padding : 30px 60px;
}

#left{
	min-height: 380px;
	background-color: #DAE9BC;
	float: left;
	width: 180px;
	padding : 30px 10px ;
}

#right{
	min-height: 380px;
	background-color: #f6fdeb;
	float: right;
	width: 130px;
	padding : 30px 10px ;
}

body {
margin : 0 ;
padding : 0 ;
font-family : Sans-serif ;
line-height : 1.5em;
}
p {
color : #555;
}
nav ul {
list-style-type : none ;
margin : 0 ;
padding : 0 ;
}
nav ul a {
color : darkgreen;
text-decoration : none;
}
.header, .footer {
font-size : large ;
padding : 0.3em ;
background : #BCCE98 ;
}

#footer_image {
	height: 40px;
	width: 40px;
}

table {
	border: 1px solid #ff9933;
	border-spacing: 0 0;
	width: 100%;
} 

th {
	border: 1px solid #ff9933;
	background: gray;
	height: 1;
}

td {
	border: 1px solid #ff9933;
	text-align: center;
}


#wbn-slider {
  position: relative;
  height: 50vw;
  overflow: hidden;
}

.wbn-slide {
  position: absolute;
  width: 100%;
  z-index: 500;
  height: 50vw;
}

.wbn-slide img {
  object-fit: cover;
  width: 100%;
  pointer-events: none;
}

.active {
  z-index: 1000;
}

.slideInLeft {
  animation-name: animateInLeft;
  z-index: 1000;
}

.slideInRight {
  animation-name: animateInRight;
  z-index: 1000;
}

.slideOutLeft {
  transform: translateX(-100%);
}

.slideOutRight {
  transform: translateX(100%);
}

@keyframes animateInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes animateInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.wbn-slide{
	height: 200px;
}

.wbn-buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 20000;
}

.wbn-slider-back-btn,
.wbn-slider-next-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  font-size: 20px;
  opacity: 0.7;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  transition: all 0.2s;
  margin: 20px;
}

.wbn-slider-back-btn:hover,
.wbn-slider-next-btn:hover {
  transform: scale(1.1);
  opacity: 0.8;
  cursor: pointer;
}

.text-line {
    background-color: transparent;
    color: #555;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #555 1px;
    padding: 3px 10px 10px;
	width: 400px;
	margin-bottom: 20px;
}

.contact p{
	font-size: 13px;
}

#country {
	border: 0 0 0 1px solid #555;
	width: 110px;
	margin-right: 20px;
	margin-bottom: 0px;
}

#phone {
	border: 0 0 0 1px solid #555;
	width: 247px;
	margin-bottom: 0px;
}

.yourself p{
	margin-bottom: 0px;
	margin-top: 0px;
}
#myText{
	margin-bottom: 0px;
	resize: none;
}

.yourself{
	margin-top: 0px;
	margin-bottom: 0px;
}

.phone{
	margin-left: 160px;
	margin-top: 0px;
}

span {
	font-size: 10px;
}

.usform {
	border-color: white;
	width: 60%;
}

.usform td {
	text-align: left;
	border-color: white;
}

#usr{
	margin-top: 10px;
}

#confpass {
	margin-top: 20px;
}

.sub {
	width: 100px;
	height: 35px;
}